<!DOCTYPE HTML>
<html>
<head>
    <title>Hotel Hocances</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<h2> 예약 요청 현황</h2>

<div class="col-md-12">
    <div class="row">
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>이메일</th>
                <th>핸드폰번호</th>
                <th>from</th>
                <th>to</th>
                <br>
                <th>Accept</th>
                <th>Cancel</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#guests}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{phonenum}}</td>
                    <td>{{start}}</td>
                    <td>{{end}}</td>
                </tr>
            {{/guests}}
            </tbody>

        </table>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/func.js"></script>
</body>
</html>